.filter {
    background-color: #302e40;
}

.dropdown-toggle {
    color: #ffffff;
}

.btn-primary {
    background-color: #394cff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: darkblue;
}

.btn-success {
    background-color: #ff0b73;
    border-color: #ff0b73;
}

.btn-success:hover {
    background-color: #d40961;
    border-color: #d40961;
}

.contact-info {
    display: grid;
    /*justify-content: space-between;*/
    position: relative;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /*justify-items: end;*/
}

.contact-info div:first-child {
    text-align: left;
}

.contact-info div:last-child {
    text-align: right;
}

.contact-info a {
    text-align: center;
    line-height: 1;
}

.thumbnail:hover {
    /* border: 4px solid#ff0b73; */
    background-color: #e8d8d8;
}

.thumbnail .caption {
    min-height: 520px;
    position: relative;
    display: grid;
}

.student-info {
    color: #302e40;
    text-align: center;
}

.student {
    background-color: #302e40;
    padding-top: 30px;
}

.filterSelected {
    color: #ff0b73;
    background-color: white;
    margin: 0;
    padding: 17px;
}

.student-image {
    border-bottom-color: #ff0b73;
}

.student-name {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 100px;
}

.btn-danger {
    color: beige;
    /* border-color: #d43f3a; */
    border-radius: 30px;
    margin-left: 6px;
    background-color: #ff0b73;
}

.thumbnail {
    border-bottom: 4px solid #ff0b73;
}

@media (max-width: 660px) {
    .thumbnail {
        height: 600px;
    }
}

@media (max-width: 1200px) {
    .thumbnail {
        min-height: 610px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.student-info {
    color: #302e40;
}

hr {
    width: 100%;
    position: absolute;
    top: -10px;
    margin-top: 0;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ff0b73;
}

.student-name {
    text-transform: capitalize;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

h1 {
    color: white;
}

.text-center {
    background-color: white;
    margin: 0;
}

.noResult {
    height: 517px;
}

p {
    text-transform: capitalize;
}

form input,
textarea {
    max-width: 90%;
}

.btn-group-vertical.btn-block {
    max-height: 313px;
    overflow: auto;
}

.student .students-list {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}

@media (min-width: 1100px) {
    .student .students-list {
        grid-template-columns: 1fr 1fr 1fr!important;
    }
}

@media (min-width: 700px) {
    .student .students-list {
        grid-template-columns: 1fr 1fr;
    }
}

.student-item {
    width: 300px;
    margin: auto;
}